.button-close {
    width: 88px;
    height: 52px;
    border: none;
    background: #ffffff;
    background-image: url(../../images/button-close.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 792px;
    margin-top: 21px;
    margin-right: 20px;
    cursor: pointer;
    transition: 1s;
}
.button-close:hover {
    opacity: 0.7;
}