.panels__button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #4e4e4e;
  width: 284px;
  height: 52px;
  margin: 6px auto 0 auto;
  box-sizing: border-box;
  border: 1px solid #4e4e4e;
  background: #86D3F4;
  cursor: pointer;
  transition: 1s;
}
.panels__button:hover {
  opacity: 0.7;
}
